Repository belgio99/smartfactory, pull requests merged in 2024-12, with the labels that each got.

#23 Rework dashboard loader
  gui-panel/public/mockData/dashboards.json
  gui-panel/public/mockData/dashboards/1.json
  gui-panel/public/mockData/dashboards/bars.json
  gui-panel/public/mockData/dashboards/overview.json
  gui-panel/public/mockData/dashboards/pies.json
  gui-panel/public/mockData/kb_kpi.json
  gui-panel/public/mockData/mock_kpi.json
  gui-panel/public/mockData/schedules.json
  gui-panel/src/api/DataStructures.tsx
  gui-panel/src/api/PersistentDataManager.tsx
  gui-panel/src/components/Dashboard/Dashboard.tsx
  gui-panel/src/components/Header/Header.tsx
  gui-panel/src/components/Home.tsx
  gui-panel/src/components/KpiSelector/GraphTypeSelector.tsx
  gui-panel/src/components/KpiSelector/KpiSelector.tsx
  gui-panel/src/components/KpiSelector/TimeSelector.tsx
  gui-panel/src/components/Sidebar/Sidebar.tsx
Labels: database, gui

#24 Rework data structure on frontend
  gui-panel/public/mockData/dashboards.json
  gui-panel/public/mockData/kpi.json
  gui-panel/public/mockData/mock_kpi.json
  gui-panel/src/App.tsx
  gui-panel/src/api/DataStructures.tsx
  gui-panel/src/api/PersistentDataManager.tsx
  gui-panel/src/api/QuerySimulator.tsx
  gui-panel/src/components/Dashboard/Dashboard.tsx
  gui-panel/src/components/DataView/DataView.tsx
  gui-panel/src/components/Forecast/Forecasting.tsx
  gui-panel/src/components/KpiSelector/FilterOptions.tsx
  gui-panel/src/components/KpiSelector/KpiSelect.tsx
  gui-panel/src/components/KpiSelector/KpiSelector.tsx
  gui-panel/src/components/KpiSelector/MachineFilter.tsx
  gui-panel/src/components/KpiViewer/KpiViewer.tsx
  gui-panel/src/components/Machines/ProductionLineManager.tsx
  gui-panel/src/components/Reports/ScheduleModal.tsx
  gui-panel/src/components/Sidebar/Sidebar.tsx
Labels: gui, kb

#26 ApiService update
  gui-panel/src/api/ApiService.ts
  gui-panel/src/api/apiClient.ts
  gui-panel/src/api/security/securityService.ts
  gui-panel/src/api/userService.ts
  gui-panel/src/components/LoginForm.tsx
Labels: gui, api, security

#28 Changed LoginForm and UserInfo
  gui-panel/package-lock.json
  gui-panel/package.json
  gui-panel/src/App.tsx
  gui-panel/src/api/mockData/mockUser.ts
  gui-panel/src/api/security/securityService.ts
  gui-panel/src/components/Home.tsx
  gui-panel/src/components/Home/Home.tsx
  gui-panel/src/components/LoginForm.tsx
Labels: gui, api, security

#31 Connect to Auth API, update machine and kpi data
  gui-panel/package.json
  gui-panel/public/mockData/kb_kpi.json
  gui-panel/public/mockData/kpi.json
  gui-panel/public/mockData/kpis.json
  gui-panel/public/mockData/machines.json
  gui-panel/public/mockData/mock_kpi.json
  gui-panel/src/App.tsx
  gui-panel/src/api/ApiService.ts
  gui-panel/src/api/DataStructures.tsx
  gui-panel/src/api/PersistentDataManager.tsx
  gui-panel/src/components/ChatAssistant/ChatAssistant.tsx
  gui-panel/src/components/Forecast/Forecasting.tsx
  gui-panel/src/components/Home.tsx
  gui-panel/src/components/KpiSelector/KpiSelect.tsx
  gui-panel/src/components/LoginForm.tsx
  gui-panel/src/components/Reports/ReportArchive.tsx
  gui-panel/src/components/UserSettings/UserSettings.tsx
Labels: gui, api, kb

#35 fixed api auth import
  api/src/app.py
Labels: bug, api

#36 Gui fixes and rework Forecast
  gui-panel/package-lock.json
  gui-panel/package.json
  gui-panel/public/mockData/dashboards.json
  gui-panel/src/App.tsx
  gui-panel/src/api/DataStructures.tsx
  gui-panel/src/api/QuerySimulator.tsx
  gui-panel/src/components/Chart/Chart.tsx
  gui-panel/src/components/Chart/ForecastingChart.tsx
  gui-panel/src/components/Dashboard/Dashboard.tsx
  gui-panel/src/components/DataView/DataView.tsx
  gui-panel/src/components/Forecast/Forecasting.tsx
  gui-panel/src/components/Forecast/FutureTimeSelector.tsx
  gui-panel/src/components/KpiSelector/KpiSelect.tsx
  gui-panel/src/components/KpiSelector/KpiSelector.tsx
  gui-panel/src/components/KpiSelector/TimeSelectorAdvanced.tsx
  gui-panel/src/components/KpiSelector/json test/DataViewBuilder.tsx
  gui-panel/src/components/KpiViewer/KpiViewer.tsx
  gui-panel/src/components/Reports/ScheduleModal.tsx
  gui-panel/src/components/Selectors/FilterOptions.tsx
  gui-panel/src/components/Selectors/GraphTypeSelector.tsx
  gui-panel/src/components/Selectors/KpiSelect.tsx
  gui-panel/src/components/Selectors/MachineFilter.tsx
  gui-panel/src/components/Selectors/MachineSelect.tsx
  gui-panel/src/components/Selectors/Select.tsx
  gui-panel/src/components/Selectors/TimeSelect.tsx
  gui-panel/src/components/Selectors/icons/graph.svg
  gui-panel/src/components/Sidebar/Sidebar.tsx
  gui-panel/src/interfaces/dataview.tsx
  gui-panel/src/utils/chartUtil.ts
Labels: gui

#37 Components to read the extra data inside messages, commands for debug.
  gui-panel/src/App.tsx
  gui-panel/src/components/ChatAssistant/ChatAssistant.tsx
  gui-panel/src/components/ChatAssistant/ChatComponents.tsx
  gui-panel/src/components/ChatAssistant/ChatInput.tsx
Labels: gui

#38 Report APIs
  api/requirements.txt
  api/src/app.py
  api/src/model/report.py
  api/src/model/task.py
  api/src/notification_service.py
Labels: api

#39 GUI -User settings update & schedule report api
  gui-panel/.gitignore
  gui-panel/src/App.tsx
  gui-panel/src/api/ApiService.ts
  gui-panel/src/components/Home.tsx
  gui-panel/src/components/LoginForm.tsx
  gui-panel/src/components/Reports/ReportSchedules.tsx
  gui-panel/src/components/Reports/ScheduleModal.tsx
  gui-panel/src/components/UserSettings/UserSettings.tsx
Labels: bug, gui, api

#51 Improved security
  .gitignore
  gui-panel/.gitignore
  gui-panel/src/api/ApiService.ts
  gui-panel/src/api/security/securityService.ts
  gui-panel/src/components/LoginForm.tsx
  gui-panel/src/components/UserSettings/UserSettings.tsx
Labels: bug, gui, api, security

#52 added retrieve schedules
  api/.env
  api/environment
  api/src/app.py
  api/src/model/task.py
Labels: api

#53 Add api auth to rag endpoint
  rag/api/api_auth/api_auth.py
  rag/api/api_auth/api_keys.json
  rag/api/endpoints.py
  rag/requirements.txt
Labels: rag

#56 Major GUI adjustments to XAI, Forecasting & Chat. Overall GUI advancements
  gui-panel/public/icons/area.svg
  gui-panel/public/icons/bot.svg
  gui-panel/public/icons/donut.svg
  gui-panel/public/icons/histogram.svg
  gui-panel/public/icons/logout.svg
  gui-panel/public/icons/scatter.svg
  gui-panel/public/icons/send.svg
  gui-panel/public/icons/stack_bar.svg
  gui-panel/public/mockData/dashboards.json
  gui-panel/src/App.tsx
  gui-panel/src/api/QuerySimulator.tsx
  gui-panel/src/api/mockData/XAIEX.tsx
  gui-panel/src/components/Chart/Chart.tsx
  gui-panel/src/components/Chart/ForecastingChart.tsx
  gui-panel/src/components/Chart/Tooltips.tsx
  gui-panel/src/components/ChatAssistant/ChatAssistant.tsx
  gui-panel/src/components/ChatAssistant/ChatComponents.tsx
  gui-panel/src/components/ChatAssistant/ChatInput.tsx
  gui-panel/src/components/Dashboard/Dashboard.tsx
  gui-panel/src/components/DataView/DataView.tsx
  gui-panel/src/components/Forecast/Forecasting.tsx
  gui-panel/src/components/Forecast/FutureTimeSelector.tsx
  gui-panel/src/components/Header/Header.tsx
  gui-panel/src/components/Home.tsx
  gui-panel/src/components/KpiViewer/KpiViewer.tsx
  gui-panel/src/components/LogPage/LogPage.tsx
  gui-panel/src/components/Reports/ReportArchive.tsx
  gui-panel/src/components/Selectors/AdvancedTimeSelect.tsx
  gui-panel/src/components/Selectors/GraphTypeSelector.tsx
  gui-panel/src/components/Selectors/MachineSelect.tsx
  gui-panel/src/components/Selectors/TimeSelect.tsx
  gui-panel/src/components/Selectors/icons/graph.svg
  gui-panel/src/components/Sidebar/Sidebar.tsx
  gui-panel/tailwind.config.js
Labels: enhancement, gui, rag, anomalies and forecast, explainability

#50 Api retrieve historical data
  api/environment
  api/src/app.py
  api/src/database/druid_connection.py
  api/src/model/historical.py
Labels: database, gui, api

#64 Schedule gui api
  gui-panel/Dockerfile
  gui-panel/package.json
  gui-panel/src/api/ApiService.ts
  gui-panel/src/components/LoginForm.tsx
  gui-panel/src/components/Reports/ReportSchedules.tsx
Labels: bug, gui

#66 Api ai agent label
  api/src/app.py
  api/src/database/minio_connection.py
  api/src/model/agent.py
  api/src/model/task.py
Labels: gui, api, kb, rag

#68 fix rag container crashing
  rag/api/endpoints.py
Labels: bug, rag

#69 Added proxy for api connection
  gui-panel/package-lock.json
  gui-panel/package.json
  gui-panel/src/api/ApiService.ts
  gui-panel/src/setupProxy.js
Labels: bug, api, security

#61 Add backrest to main
  database/backrest/.env
  database/backrest/config.json
  docker-compose.yml
Labels: enhancement, database

#72 GUI updated with API and bug fixes
  gui-panel/src/App.tsx
  gui-panel/src/api/ApiService.ts
  gui-panel/src/components/ChatAssistant/ChatAssistant.tsx
  gui-panel/src/components/Header/Header.tsx
  gui-panel/src/components/Home.tsx
  gui-panel/src/components/LoginForm.tsx
Labels: bug, gui, api

#74 fix pdf formatting
  api/src/app.py
Labels: api

#80 small refactor
  api/src/app.py
  api/src/model/historical.py
Labels: documentation

#82 Fixes to Rag-Gui api hook, AI Dashboard implementation. Forecastable KPI split
  gui-panel/public/icons/folder.svg
  gui-panel/src/api/ApiService.ts
  gui-panel/src/api/DataStructures.tsx
  gui-panel/src/api/PersistentDataManager.tsx
  gui-panel/src/components/Chart/ForecastingChart.tsx
  gui-panel/src/components/ChatAssistant/ChatAssistant.tsx
  gui-panel/src/components/Dashboard/AIDashboard.tsx
  gui-panel/src/components/Forecast/Forecasting.tsx
  gui-panel/src/components/KpiViewer/KpiViewer.tsx
  gui-panel/src/components/LoginForm.tsx
  gui-panel/src/components/Reports/ScheduleModal.tsx
  gui-panel/src/components/Selectors/FilterOptions.tsx
  gui-panel/src/components/Sidebar/Sidebar.tsx
Labels: gui, rag

#81 Add Doxyfile and GitHub Action to create API document
  .github/workflows/generate_docs.yml
  docs/Doxyfile
Labels: documentation, enhancement

#84 added report name in response field
  api/src/app.py
Labels: gui, api

#87 Instant Report Interface, Handle Report in chat usecase
  gui-panel/public/mockData/schedules.json
  gui-panel/src/components/ChatAssistant/ChatAssistant.tsx
  gui-panel/src/components/ChatAssistant/ChatComponents.tsx
  gui-panel/src/components/Dashboard/AIDashboard.tsx
  gui-panel/src/components/Dashboard/Dashboard.tsx
  gui-panel/src/components/Reports/InstantModal.tsx
  gui-panel/src/components/Reports/ReportArchive.tsx
  gui-panel/src/components/Reports/ReportSchedules.tsx
Labels: gui, rag

#73 Rag
  .github/workflows/build_n_push_ghcr.yml
  docker-compose.yml
  rag/api/endpoints.py
  rag/chains/graph_qa.py
  rag/chains/ontology_rag.py
  rag/docs/gui_elements.json
  rag/docs/sa_ontology.rdf
  rag/prompts/calculation_and_forecasting.txt
  rag/prompts/dashboard_generation.txt
  rag/prompts/get_language.txt
  rag/prompts/kpi_generation.txt
  rag/prompts/report.txt
  rag/prompts/translate.txt
  rag/queryGen/QueryGen.py
  rag/requirements.txt
  rag/schemas/XAI_rag.py
  rag/schemas/models.py
  rag/schemas/promptmanager.py
  rag/tests/classifier_test.ipynb
  rag/tests/classifier_val_dataset.txt
  rag/tests/final_response_dataset.txt
  rag/tests/final_response_results.txt
  rag/tests/final_response_test.ipynb
  rag/tests/query generator.ipynb
  rag/tests/queryTest.ipynb
  rag/tests/resources_dataset.txt
  rag/tests/resources_test.ipynb
  rag/tests/unit_tests.txt
Labels: enhancement, rag

#90 Data processing
  data-processing/README.txt
  data-processing/XAI_forecasting.py
  data-processing/f_dataprocessing.py
  data-processing/main.py
  data-processing/model.py
  data-processing/requirements.txt
  docker-compose.yml
Labels: enhancement, data-processing

#95 removed db scripts
  api/README.md
  api/db_tables.py
  api/setup.py
  api/setup_minio.py
Labels: api

#98 Query generation fix
  api/src/app.py
Labels: api

#99 Slim down data-processing Docker image
  data-processing/Dockerfile
  data-processing/requirements.txt
Labels: bug, data-processing

#100 Slim down RAG Docker image to fix #13
  rag/Dockerfile
Labels: enhancement, rag

#102 added userid
  api/src/app.py
  rag/schemas/models.py
Labels: api, rag

#107 Using root for KB container
  kb/Dockerfile
Labels: bug, kb

#108 fix hashing error
  api/src/app.py
  database/postgres/create_db_tables.py
Labels: api, security

#110 fixed ai interaction
  api/src/app.py
  api/src/model/agent.py
Labels: bug, api

#111 Api get prediction endpoint
  .gitignore
  api/.env
  api/environment
  api/src/app.py
  api/src/model/prediction.py
Labels: api, data-processing

#112 Updated dashboard + Sync Fixes
  gui-panel/.env
  gui-panel/src/App.tsx
  gui-panel/src/api/ApiService.ts
  gui-panel/src/api/DataFetcher.tsx
  gui-panel/src/api/DataManager.tsx
  gui-panel/src/api/PersistentDataManager.tsx
  gui-panel/src/components/Dashboard/AIDashboard.tsx
  gui-panel/src/components/Dashboard/Dashboard.tsx
  gui-panel/src/components/DataView/DataView.tsx
  gui-panel/src/components/Forecast/Forecasting.tsx
  gui-panel/src/components/Header/Header.tsx
  gui-panel/src/components/Home.tsx
  gui-panel/src/components/KpiViewer/KpiViewer.tsx
  gui-panel/src/components/Machines/ProductionLineManager.tsx
  gui-panel/src/components/Reports/InstantModal.tsx
  gui-panel/src/components/Reports/ReportArchive.tsx
  gui-panel/src/components/Reports/ReportSchedules.tsx
  gui-panel/src/components/Reports/ScheduleModal.tsx
  gui-panel/src/components/Selectors/AdvancedTimeSelect.tsx
  gui-panel/src/components/Selectors/FilterOptions.tsx
  gui-panel/src/components/Selectors/MachineFilter.tsx
  gui-panel/src/components/Selectors/TimeSelect.tsx
  gui-panel/src/components/Sidebar/Sidebar.tsx
  gui-panel/src/components/UserSettings/UserSettings.tsx
Labels: bug, gui, api

#114 updated prediction model
  api/src/model/prediction.py
Labels: api, data-processing

#115 XAI-optimization: Models are now stored in persistent ./models
  rag/.gitignore
  rag/schemas/XAI_rag.py
Labels: rag, explainability

#118 Add default fallback for environment variables in get prediction
  api/environment
  api/src/app.py
  gui-panel/src/components/Selectors/AdvancedTimeSelect.tsx
Labels: api

#119 revert hashing data implementation
  api/src/app.py
Labels: bug, api, security

#123 Working Forecasting Gui
  gui-panel/src/api/ApiService.ts
  gui-panel/src/api/DataStructures.tsx
  gui-panel/src/components/Chart/Chart.tsx
  gui-panel/src/components/Chart/ForecastingChart.tsx
  gui-panel/src/components/Dashboard/Dashboard.tsx
  gui-panel/src/components/Forecast/Forecasting.tsx
  gui-panel/src/components/Forecast/FutureTimeSelector.tsx
  gui-panel/src/components/Header/Header.tsx
  gui-panel/src/components/Home.tsx
  gui-panel/src/components/Sidebar/Sidebar.tsx
Labels: enhancement, gui

#128 hopefully fixed json problem
  api/src/app.py
Labels: bug, api

#127 Encrypted sensible data
  api/.env
  api/src/AES_lib.py
  api/src/app.py
Labels: enhancement, security

#133 Division by zero handling
  kpi-engine/src/kpi_calculation.py
Labels: bug, kpi engine

#134 Chart & Dashboard Fixes
  gui-panel/src/api/ApiService.ts
  gui-panel/src/api/DataManager.tsx
  gui-panel/src/components/Chart/Chart.tsx
  gui-panel/src/components/ChatAssistant/ChatAssistant.tsx
  gui-panel/src/components/Dashboard/AIDashboard.tsx
  gui-panel/src/components/DataView/DataView.tsx
  gui-panel/src/utils/chartUtil.ts
Labels: bug, gui

#135 Data processing: some bug fixing
  data-processing/f_dataprocessing.py
  data-processing/main.py
Labels: bug, data-processing

#137 bug fix
  rag/api/endpoints.py
Labels: bug, rag

#139 optimized relational db columns size
  database/postgres/create_db_tables.py
Labels: enhancement, database

#143 Now checks presence of context before attributing
  rag/schemas/XAI_rag.py
Labels: rag, explainability

#144 Added aggregator information
  kpi-engine/src/kpi_calculation.py
  kpi-engine/src/main.py
Labels: bug, kpi engine

#147 Rag bug fixing
  rag/api/endpoints.py
  rag/prompts/calculation_and_forecasting.txt
  rag/prompts/report.txt
  rag/queryGen/QueryGen.py
Labels: bug, rag

#151 Api fix insert kpi
  api/src/app.py
Labels: bug, api

#152 update formula
  kb/Ontology/sa_ontology.rdf
Labels: bug, kb

#153 Bug fix in KB update
  rag/api/endpoints.py
Labels: bug, rag

#158 Now the confidence is fixed (satistically correct)
  data-processing/XAI_forecasting.py
Labels: anomalies and forecast, explainability

#159 explicitly added the chance to retrieve and update forecast models
  data-processing/f_dataprocessing.py
  data-processing/main.py
  data-processing/model.py
Labels: enhancement, data-processing

#161 Small clarification in forecasting chart
  gui-panel/src/components/Chart/ForecastingChart.tsx
  gui-panel/src/components/Chart/Tooltips.tsx
Labels: gui, explainability

#165 Made forecasting faster (and commented the code better)
  data-processing/XAI_forecasting.py
Labels: documentation, anomalies and forecast, explainability

#166 Forecast-bounds-improvements
  data-processing/XAI_forecasting.py
Labels: enhancement, anomalies and forecast, explainability

#167 Reverted back to std on whole dataset
  data-processing/XAI_forecasting.py
Labels: anomalies and forecast, explainability
